%body
  / Navigation
  %nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
    .container.topnav
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.topnav{:href => "#"} Start Bootstrap
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#services"} Services
          %li
            %a{:href => "#contact"} Contact
      / /.navbar-collapse
    / /.container
  / Header
  %a{:name => "about"}
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            %h1 Landing Page
            %h3 A Template by Start Bootstrap
            %hr.intro-divider/
            %ul.list-inline.intro-social-buttons
              %li
                %a.btn.btn-default.btn-lg{:href => "https://twitter.com/SBootstrap"}
                  %i.fa.fa-twitter.fa-fw
                  %span.network-name Twitter
              %li
                %a.btn.btn-default.btn-lg{:href => "https://github.com/IronSummitMedia/startbootstrap"}
                  %i.fa.fa-github.fa-fw
                  %span.network-name Github
              %li
                %a.btn.btn-default.btn-lg{:href => "#"}
                  %i.fa.fa-linkedin.fa-fw
                  %span.network-name Linkedin
    / /.container
  / /.intro-header
  / Page Content
  %a{:name => "services"}
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            Death to the Stock Photo:
            %br>/
            Special Thanks
          %p.lead
            A special thanks to
            %a{:href => "http://join.deathtothestockphoto.com/", :target => "_blank"} Death to the Stock Photo
            for providing the photographs that you see in this template. Visit their website to become a member.
        .col-lg-5.col-lg-offset-2.col-sm-6
          %img.img-responsive{:alt => "", :src => "img/ipad.png"}/
    / /.container
  / /.content-section-a
  .content-section-b
    .container
      .row
        .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            3D Device Mockups
            %br>/
            by PSDCovers
          %p.lead
            Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by
            = succeed "!" do
              %a{:href => "http://www.psdcovers.com/", :target => "_blank"} PSDCovers
        .col-lg-5.col-sm-pull-6.col-sm-6
          %img.img-responsive{:alt => "", :src => "img/dog.png"}/
    / /.container
  / /.content-section-b
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            Google Web Fonts and
            %br>/
            Font Awesome Icons
          %p.lead
            This template features the 'Lato' font, part of the
            = succeed "," do
              %a{:href => "http://www.google.com/fonts", :target => "_blank"} Google Web Font library
            = succeed "." do
              %a{:href => "http://fontawesome.io", :target => "_blank"} icons from Font Awesome
        .col-lg-5.col-lg-offset-2.col-sm-6
          %img.img-responsive{:alt => "", :src => "img/phones.png"}/
    / /.container
  / /.content-section-a
  %a{:name => "contact"}
  .banner
    .container
      Don't be shy come and Join us!
      
    / /.container
  / /.banner
  / Footer
  %footer
    .container
      .row
        .col-lg-12
          %ul.list-inline
            %li
              %a{:href => "#"} Home
            %li.footer-menu-divider ⋅
            %li
              %a{:href => "#about"} About
            %li.footer-menu-divider ⋅
            %li
              %a{:href => "#services"} Services
            %li.footer-menu-divider ⋅
            %li
              %a{:href => "#contact"} Contact
          %p.copyright.text-muted.small Copyright © Your Company 2014. All Rights Reserved
