=render "navbar"
.container
  %ul.small-panels
    %li
      .panel-content Schedules (3) 
    %li
      .panel-content Guides (4)
    %li
      .panel-content Lists (6)
    %li
      .panel-content notifications (6)   
  .row.text-center
    Coffeeco's Discussion Board
  .row
    .col-xs-9.col-sm-offset-1
      =render "post"
      =render "post"
      =render "post"
    
%footer.footer
  .container.text-center
    %small.copyright Eduardo Poleo @2015
    %br
      %a.social-media{:href => "https://ca.linkedin.com/pub/eduardo-poleo/56/364/a4"}
        %span.fa-stack
          %i.fa.fa-linkedin
      %a.social-media{:href => "https://github.com/eduardopoleo"}
        %span.fa-stack
          %i.fa.fa-github
