.container
  %h1.text-center Payments Page (Reserved for admin)
  %br
  %br
  %table.table
    %thead
      %tr
        %th Customer 
        %th Email 
        %th Amount
        %th 
          Stripe's payment id
          %br
          (Actual id generated from my stripe account)

    %tbody
      - @payments.reverse.each do |payment|
        %tr
          %td Jane Doe
          %td janedoe@gmail.com
          %td $#{payment.amount/100.00}
          %td
            = link_to cart_path(payment.cart) do
              #{payment.reference_id}
          
