/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import url("http://fonts.googleapis.com/css?family=Josefin+Slab:400,700");
body{
  font-family:  'Josefin Slab', serif;
  color: #3B1A01;
 	background-image: url("wood.jpg");
}

.title{
  color: #3B1A01;
}

.product{
  background-color: #3B1A01;
  border: solid 1px #3B1A01;
-webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
	box-shadow: 0 7px 4px #777;
}


.date{
  margin-top: 0; 
  margin-left: 10px;
  font-weight: 700;
}

.navbar-default .navbar-brand{
   color: #3B1A01;
}
.navbar-nav > li > a{
}
.navbar-default .navbar-nav > li > a{
  color: #3B1A01;
}

.btn{
  font-weight: 700;
}

.navbar-default{
  background-color: transparent;
  background: transparent;
  border: transparent;
}

.product-description{
  color: #DCFFB6;
}

.product-name2{
  margin-top: 0;
}

.product-name{
  margin-top: 5px;
  color: #DCFFB6;
}

#keep-shopping{
  float: right;
}


.highlight{
  background-color: #f7f7f9;
  padding: 9px 14px;
  opacity: 0.5;
  border-radius: 5px;
}

