%h1.text-center.title Welcome to Market Place
%br
.container
  - @products.each_slice(4) do |products|
    .row
      - products.each do |product|
        .col-md-3
          .thumbnail.product
            = link_to product_path(product) do
              = image_tag(product.cover, :class => "img-responsive") 
            .caption
              %h3.text-center.product-name #{product.name}
              %p.product-description #{product.description}  
